body {
  background-color: #1f2833; 
  color: #fff; 
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  padding-top: 50px;
}

h1, h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  font-style: italic;
  font-weight: lighter;
}

p{
  font-style:normal;
  font-size: medium;
}

.p4{
  font-style: italic;
}

h6{
  font-style: italic;
}

.info-section {
  background-color: #1f2833;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.speaker-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.speaker-details {
  margin-top: 20px;
}

.registration-link {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

.registration-link:hover {
  background-color:#1f2833;
  color: #fff;
}